@import "tailwindcss";

@theme {
  --color-primaryYellow: oklch(85.17% 0.174 87.04);
  --color-primaryOrange: oklch(51.76% 0.204 30.64);
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
